<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        /* uncomment this in staging or production env. */
        /* html {
                zoom: 0.55;
            } */
        body {
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }

        .text-center {
            text-align: center;
        }

        .d-block {
            display: block;
        }

        .center-table {
            margin-left: auto;
            margin-right: auto;
        }

        .header {
            position: relative;
        }

        .header .qrcode {
            position: absolute;
            right: 0.001px;
            top: 0.001px;
        }

        .header .document-title {
            margin-top: 1em;
        }

        .header .logo-text b {
            display: block;
            width: 220px;
        }

        .header .document-title b {
            font-size: 48px;
        }

        .header .linebreak {
            margin-top: 1em;
            border: 1px solid green;
            border-radius: 10px;
        }

        .body th {
            margin-bottom: 1em !important;
        }
    </style>
</head>

<body>
    <div class="header">
        <table cellpadding="0" cellspacing="0" border="0" class="table" style="width:100%;">
            <tr>
                <td>
                    <table cellpadding="0" cellspacing="0" border="0" class="center-table" style="width: 15%;">
                        <tr class="text-center">
                            <td>
                                <img src='https://res.cloudinary.com/dhmkfau4h/image/upload/v1662440493/logo/Bacolod_jkq086.png'
                                    height="120" width="120" />
                            </td>
                            <td class="logo-text">
                                <b style="font-size:10px;">REPUBLIC OF THE PHILIPPINES</b>
                                <b style="font-size:14px;">CITY GOVERNMENT</b>
                                <b style="font-size:27px;">BACOLOD</b>
                                <b style="font-size:14px;">OFFICE OF THE CITY MAYOR</b>
                                <b style="font-size:14px;">PERMIT AND LICENSE DIVISION</b>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <div class="qrcode">
            <img src={{qrcode}} height="100" width="100" />
        </div>

        <hr class="linebreak">

        <table cellpadding="0" cellspacing="0" border="0" class="document-title" style="width:100%;">
            <tr class="text-center">
                <td>
                    <b>MAYOR'S PERMIT</b>
                </td>
            </tr>
        </table>
    </div>

    <div class="body">
        <table cellspacing="0" style="margin-top:5em;text-align: center;font-size:14;">
            <thead>
                {{#each th}}
                <th>{{this}}</th>
                {{/each}}
            </thead>
            <tbody>
                {{#each td}}
                <tr>
                    <td>{{this.author}}</td>
                    <td>{{this.stocks}}</td>
                    <td>{{this.title}}</td>
                    <td>{{this.price}}</td>
                </tr>
                {{/each}}
            </tbody>

        </table>
    </div>
</body>

</html>